body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #b30000;
    height: 90px;
  }
  
  .header-logo {
    font-size: 26px;
    float: right;
    padding: 20px 30px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  
  .main {
    background-color: #808080;
    main : 1400px;
    padding: 200px 80px;
  }
  
  .copy-container h1 {
    font-size: 60px;
  }
  
  .section-title {
    border-bottom: 4px solid #000000;
  }
  
  .kolom-koran{
    -webkit-column-count: 2;
    -moz-colomn-count: 2;
    column-count: 1;
    text-align: justify;
  }
  
  .contact-form{
    padding-top: 50px;
  }
  
  input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
  }
  input,textarea{
    border: 1px solid #ffffff;
  }
  
  .submit-contact{
    background-color: #b30000;
    color: #000000;
  }
  .kolom-koran span {
    font-size: 40px;
  }
  
  .koran{
    line-height: 0px;
    font-size: 40px;
  }
    
  .footer {
    background-color: #000000;
    height: 650px;
    padding: 60px 80px;
    color: #ffffff;
  }
  
  .footer-logo {
    font-size: 30px;
    float: left;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding: 30px 20px;
  }